pipeline/pl_foreach.json
{
	"name": "pl_foreach",
	"properties": {
		"activities": [
			{
				"name": "act_for_each",
				"type": "ForEach",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@pipeline().parameters.val_lst",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "each_val",
							"type": "SetVariable",
							"state": "Inactive",
							"onInactiveMarkAs": "Succeeded",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "each_val",
								"value": {
									"value": "@item()",
									"type": "Expression"
								}
							}
						},
						{
							"name": "act_if_cond",
							"type": "IfCondition",
							"state": "Inactive",
							"onInactiveMarkAs": "Succeeded",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@equals(toLower(item()),'ram')",
									"type": "Expression"
								},
								"ifFalseActivities": [
									{
										"name": "act_app2",
										"type": "AppendVariable",
										"dependsOn": [],
										"userProperties": [],
										"typeProperties": {
											"variableName": "name_lst",
											"value": "'Mohan'"
										}
									}
								],
								"ifTrueActivities": [
									{
										"name": "act_set_app",
										"type": "AppendVariable",
										"dependsOn": [],
										"userProperties": [],
										"typeProperties": {
											"variableName": "name_lst",
											"value": {
												"value": "@item()",
												"type": "Expression"
											}
										}
									}
								]
							}
						},
						{
							"name": "act_switch",
							"type": "Switch",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"on": {
									"value": "@item()",
									"type": "Expression"
								},
								"cases": [
									{
										"value": "maharashtra",
										"activities": [
											{
												"name": "Set variable1",
												"type": "SetVariable",
												"dependsOn": [],
												"policy": {
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"variableName": "state_name",
													"value": "'maharashtra'"
												}
											}
										]
									},
									{
										"value": "madhay pradesh",
										"activities": [
											{
												"name": "Set variable2",
												"type": "SetVariable",
												"dependsOn": [],
												"policy": {
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"variableName": "state_name",
													"value": "'madhya pradesh'"
												}
											}
										]
									}
								],
								"defaultActivities": [
									{
										"name": "Set variable3",
										"type": "SetVariable",
										"dependsOn": [],
										"policy": {
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"variableName": "state_name",
											"value": "'unavliable'"
										}
									}
								]
							}
						}
					]
				}
			},
			{
				"name": "act_set_var_outer-lst",
				"type": "SetVariable",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [
					{
						"activity": "act_for_each",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "outer_lst",
					"value": {
						"value": "@variables('name_lst')",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"val_lst": {
				"type": "array"
			}
		},
		"variables": {
			"each_val": {
				"type": "String"
			},
			"outer_lst": {
				"type": "Array"
			},
			"name_lst": {
				"type": "Array"
			},
			"state_name": {
				"type": "String"
			}
		},
		"folder": {
			"name": "second_session"
		},
		"annotations": []
	}
}